.productsLoading {
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 30%;
}

.productsContainer {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 20px;
}

.linkToProduct {
  text-decoration: none;
  color: rgb(255, 238, 238);
}
.productPanel {
  min-height: 200px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.productPanel > h1 {
  padding: 0 10px;
}

.productPanel > p {
  padding: 10px;
  width: 100%;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.productPanel img {
  width: 300px;
  height: 250px;
}

.timeoutError {
  color: crimson;
  text-align: center;
  margin-top: 20%;
  font-size: 4rem;
}

.productPanel {
  cursor: pointer;
}

.ratingCounter {
  opacity: 0.7;
  font-style: italic;
}

.productDetailView {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 5rem 0;
}

.pdLeftSide img {
  margin-right: 1rem;
  width: 400px;
  height: 400px;
}

.pdRightSide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productDetailsDescription {
  word-wrap: break-word;
}

.pdRightSide > div:first-child {
  display: flex;
  justify-content: space-between;
}

.pdRightSide > div:first-child > h3 {
  font-size: 3rem;
  color: aliceblue;
}

.pdRightSide > div > h2 {
  width: 40ch;
  word-wrap: break-word;
}

.buttonation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pdRightSide button:not(.addToCartBtn) {
  font-size: 1rem;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.pdRightSide button:not(.addToCartBtn) {
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: transparent;
  transition: background-color 130ms;
}

.pdRightSide button:not(.addToCartBtn):hover {
  background-color: rgba(255, 255, 255, 1);
}

.pdRightSide button:not(.addToCartBtn):active {
  background-color: rgba(255, 255, 255, 0.75);
}

.shopButtons {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
}

.shopButtons > button {
  color: white;
}

.shopButtons > button:hover {
  color: black;
}

.buttonation > div:last-child {
  position: relative;
}

.buttonation > div:last-child > p {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  text-align: center;
}

.addToCartBtn {
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid black;
  background-color: springgreen;
  box-shadow: 1px 1px 5px 0px rgba(255, 255, 255, 0.2);
  transition: background-color 150ms;
}

.addToCartBtn:hover {
  background-color: rgba(0, 255, 128, 0.8);
}

.addToCartBtn:active {
  background-color: rgba(0, 255, 128, 0.6);
}

.successfulAddMsg {
  opacity: 0;
  font-size: 1rem;
  font-style: italic;
  transition: all 0.5s;
  color: dodgerblue;
}

.successfulAddMsg.active {
  opacity: 1;
}
